# Masukan APP ID ambil di web my.telegram.org
APP_ID = "22748318" 

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "0932d57c3c59764e07ac275a9e63327f"

# Masukan BOT TOKEN dari @botfather
TG_BOT_TOKEN = "6760209545:AAEIJFtBsKMYx0KO3LF6GaQpNGOxsG9tCbQ" 

# Masukan User ID untuk hak ADMINS di bot
# Gunakan Spasi Untuk Pemisah User ID [ Untuk Multi ADMINS ]
ADMINS = "2098545567"

# Masukan Username Telegram mu tanpa @
OWNER = "dnsviktor" 

# Masukan Chat ID dari Group Untuk Wajib Subscribenya
# Bila tidak ingin dipakai Fsubnya, isi dengan 0
FORCE_SUB_GROUP = -1001921171515

# Masukan Chat ID dari Channel Untuk Wajib Subscribenya
# Bila tidak ingin dipakai Fsubnya, isi dengan 0
FORCE_SUB_CHANNEL = -1001379519007

# Masukan ID Channel Untuk [Channel Database]
CHANNEL_ID = -1002124514986

# URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://zhbnqecd:bnyiXHzXB1ZibsOgrubvwhoGRJdoX3DV@rain.db.elephantsql.com/zhbnqecd" 

# Fitur PROTECT_CONTENT adalah Untuk MENCEGAH pengguna bot untuk mendownload/memforward/mengscreenshot konten yang dikirim di bot
# Untuk Mengaktifkan PROTECT_CONTENT Ubah ke True
# Untuk Menonaktifkan PROTECT_CONTENT Ubah ke False
PROTECT_CONTENT = True

